.bg-color{
    background-color: brown;
   
}
.no-border{
    border: 0;
    
}
.bg2-color{
    background-color: darkgoldenrod;
}
.leg-bg-color{
    background-color: cornflowerblue;
}
.led2-bg-color{
    background-color: dodgerblue;
}


.background{
    background-color: transparent;
}
 